<table class="table table-hover animate__animated animate__fadeInUp" *ngIf="paises.length > 0">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Pais - Capital </th>
            <th> Poblacion </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{i + 1}}</td>
            <td><img class="flags" src="{{pais.flags.png}}"></td>
            <td>{{pais.capital}}, {{pais.name.common}}</td>
            <td>{{pais.population | number}}</td>
            <td><a [routerLink]="['/pais', pais.altSpellings[0]]">ver</a></td>
        </tr>
    </tbody>
</table>

<table class="table table-hover animate__animated animate__fadeInUp" *ngIf="capitales.length > 0">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Pais - Capital </th>
            <th> Poblacion </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let capital of capitales; let i = index">
           <td>{{i + 1}}</td>
           <td><img class="flags" src="{{capital.flags.png}}"></td>
           <td>{{capital.capital}}, {{capital.name.common}}</td>
           <td>{{capital.population | number}}</td>
           <td><a [routerLink]="['/pais', capital.altSpellings[0]]">ver</a></td>
       </tr>
   </tbody>
</table>